@model IEnumerable<TablesideOrdering.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Index</h1>

    <!-- Create Category -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateCategory">
        Create
    </button>
    @await Html.PartialAsync("Create", new Category())

    <table class="table">
        <thead>
            <tr>
                <th>
                    CategoryName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="@("#EditCategory-" + item.CategoryId)" data-url="@Url.Action($"Edit/{item.CategoryId}")">
                            Edit
                        </button>
                        @await Html.PartialAsync("Edit", item)
                        <button type="button" data-toggle="modal" data-target="@("#DeleteCategory-" + item.CategoryId)" data-url="@Url.Action($"Delete/{item.CategoryId}")">
                            Delete
                        </button>
                        @await Html.PartialAsync("Delete", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

@await Component.InvokeAsync("Notyf")
</html>
