@using TablesideOrdering.Areas.StoreOwner.ViewModels;
@model OrderViewModel
@{
    ViewData["Title"] = "Delete Order";
}

<div class="modal fade" id="DeleteOrder-@Model.Order.OrderId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
            </div>
            <div class="container-fluid">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="@Model.Order.OrderId" />
                    <h3>Are you sure you want to delete this?</h3>
                    <div class="form-group">
                        <label asp-for="@Model.Order.OrderId" class="control-label">Order Id:</label>
                        @Html.DisplayFor(model => model.Order.OrderId)
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Order.OrderPrice" class="control-label">Order Price:</label>
                        @Html.DisplayFor(model => model.Order.OrderPrice)
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Order.OrderDate" class="control-label">Order Date:</label>
                        @Html.DisplayFor(model => model.Order.OrderDate)
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Order.ProductQuantity" class="control-label">Product Quantity: </label>
                        @Html.DisplayFor(model => model.Order.ProductQuantity)
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Order.PhoneNumber" class="control-label">Phone Number: </label>
                        @Html.DisplayFor(model => model.Order.PhoneNumber)
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Order.PhoneNumber" class="control-label">Customer Name: </label>
                        @Html.DisplayFor(model => model.Order.CusName)
                    </div>
                    @if(Model.Order.OrderType=="Eat in")
                    {
                        <div class="form-group">
                        <label asp-for="@Model.Order.TableNo" class="control-label">Table Number: </label>
                        @Html.DisplayFor(model => model.Order.TableNo)
                        </div>
                    }
                    else if (Model.Order.OrderType == "Delivery")
                    {
                        <div class="form-group">
                            <label asp-for="@Model.Order.TableNo" class="control-label">Address: </label>
                            @Html.DisplayFor(model => model.Order.Address)
                        </div>
                    }else{
                        <div class="form-group">
                            <label asp-for="@Model.Order.TableNo" class="control-label">Pick-up Time: </label>
                            @Html.DisplayFor(model => model.Order.PickTime)
                        </div>
                    }

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
