@using TablesideOrdering.Areas.Staff.ViewModels;
@model OrderViewModel
@{
    ViewData["Title"] = "Details Order";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .checkout__order {
        background: #f5f5f5;
        padding: 40px;
        padding-top: 30px;
    }

        .checkout__order h4 {
            color: #1c1c1c;
            font-weight: 700;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .checkout__order .checkout__order__products {
            font-size: 18px;
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 10px;
        }

            .checkout__order .checkout__order__products span {
                float: right;
            }

        .checkout__order ul {
            margin-bottom: 12px;
        }

            .checkout__order ul li {
                font-size: 16px;
                color: #6f6f6f;
                line-height: 40px;
                list-style: none;
            }

                .checkout__order ul li span {
                    font-weight: 700;
                    float: right;
                }

        .checkout__order .checkout__order__subtotal {
            font-size: 18px;
            color: #1c1c1c;
            font-weight: 700;
            border-bottom: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;
            padding-bottom: 15px;
            margin-bottom: 15px;
            padding-top: 15px;
        }

            .checkout__order .checkout__order__subtotal span {
                float: right;
            }

        .checkout__order .checkout__input__checkbox label {
            padding-left: 20px;
        }

        .checkout__order .checkout__order__total {
            font-size: 18px;
            color: #1c1c1c;
            font-weight: 700;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

            .checkout__order .checkout__order__total span {
                float: right;
                color: #dd2222;
            }

        .checkout__order button {
            font-size: 18px;
            letter-spacing: 2px;
            width: 100%;
            margin-top: 10px;
        }
</style>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__order">
                            <h4>Order Details</h4>
                            <div class="checkout__order__products">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="color: black">
                                                Product Name
                                            </th>
                                            <th style="text-align:center;color: black">
                                                Size
                                            </th>
                                            <th style="text-align:center; color: black">
                                                Quantity
                                            </th>
                                            <th style="color: black; text-align:right">
                                                Price
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderDetail)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.Size)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.ProQuantity)
                                                </td>
                                                <td>
                                                    <span> @Html.DisplayFor(modelItem => item.Price) VND</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__order">
                            <h4>Order</h4>
                            <div class="checkout__order__products">Customer Details</div>
                            <ul>
                                @foreach (var item in Model.Order)
                                {
                                    <li>Phone number: <span>@Html.DisplayFor(model => item.PhoneNumber)</span></li>
                                    @if (item.OrderType == "Eat in")
                                    {
                                        <li>Table number: <span>@Html.DisplayFor(model => item.TableNo)</span></li>

                                    }
                                    else if (item.OrderType == "Delivery" || item.OrderType == "Delivering")
                                    {
                                        <li>Address: <span>@Html.DisplayFor(model => item.Address)</span></li>

                                    }
                                    else if (item.OrderType == "Carry out")
                                    {
                                        <li>Delivery time: <span>@Html.DisplayFor(model => item.PickTime)</span></li>
                                    }

                                    <li>Date:  <span>@Html.DisplayFor(model => item.OrderDate)</span></li>
                                }
                            </ul>
                            @foreach (var item in Model.Order)
                            {

                                <div class="checkout__order__total">Total <span>@Html.DisplayFor(model => item.OrderPrice) VND</span></div>
                                <div class="row">
                                    @if (item.Status != "Done")
                                    {
                                        <div class="col-lg-6">
                                            <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="@("#DeleteOrder-" + item.OrderId)" data-url="@Url.Action($"Delete/{item.OrderId}")">
                                                Delete Order
                                            </button>
                                        </div>
                                        @await Html.PartialAsync("Delete", item)
                                    }
                                    <div class="col-lg-6">
                                        @if (item.OrderType == "Eat in")
                                        {
                                            <a asp-controller="Order" asp-action="MarkDone" asp-route-id="@item.OrderId" style="color:white">
                                                <button class="btn btn-success m-1">
                                                    Mark as Done
                                                </button>
                                            </a>
                                        }
                                        else if (item.OrderType == "Delivery" && item.Status == "Processing")
                                        {
                                            <a style="color:white">
                                                <button class="Delivery btn btn-success m-1" data-id="@item.OrderId">
                                                    Delivery
                                                </button>
                                            </a>
                                        }
                                        else if (item.OrderType == "Carry out" && item.Status == "Processing")
                                        {
                                            <a style="color:white">
                                                <button class="Ready btn btn-success m-1" data-id="@item.OrderId">
                                                    Ready
                                                </button>
                                            </a>
                                        }
                                        @if (item.Status == "Delivering" || item.Status == "Ready")
                                        {
                                        <a style="color:white">
                                            <button class="Done btn btn-success m-1" data-id="@item.OrderId">
                                                Done
                                            </button>
                                        </a>
                                        }
                                        else if (item.Status == "Done")
                                        {
                                        <a style="color:white">
                                            <button class="Done btn btn-success m-1" disabled style="font-weight:bold">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                </svg>
                                            </button>
                                        </a>
                                        }
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".Delivery").click(function () {
                $.ajax({
                    url: "/Staff/DeliveryOrder/Delivery",
                    data: {
                        id: $(this).data("id")
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.reload();
                    }
                })
            })
        })
        $(document).ready(function () {
            $(".Done").click(function () {
                $.ajax({
                    url: "/Staff/Order/MarkDone",
                    data: {
                        id: $(this).data("id")
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.reload();
                    }
                })
            })
        })
            
        $(document).ready(function () {
            $(".Ready").click(function () {
                $.ajax({
                    url: "/Staff/CarryOut/Ready",
                    data: {
                        id: $(this).data("id")
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.reload();
                    }
                })
            })
        })
       
    </script>
    }
