@using TablesideOrdering.Areas.Admin.Models;
@model Orders
@{
    ViewData["Title"] = "Paid";
}

<div class="modal fade" id="PaidOrder-@Model.OrderId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paid</h5>
            </div>
            <div class="container-fluid">
                <form asp-action="MarkPaid" method="post">
                    <input type="hidden" asp-for="OrderId" />
                    <h3>Are you sure this order is paid?</h3>
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label">Order Id:</label>
                        @Html.DisplayFor(model => model.OrderId)
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderPrice" class="control-label">Order Price:</label>
                        @Html.DisplayFor(model => model.OrderPrice)
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label">Order Date:</label>
                        @Html.DisplayFor(model => model.OrderDate)
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductQuantity" class="control-label">Product Quantity: </label>
                        @Html.DisplayFor(model => model.ProductQuantity)
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number: </label>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Customer Name: </label>
                        @Html.DisplayFor(model => model.CusName)
                    </div>
                    <div class="form-group">
                        <label asp-for="TableNo" class="control-label">Table Number: </label>
                        @Html.DisplayFor(model => model.TableNo)
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Mark as Paid</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
