@using TablesideOrdering.ViewModels;
@model HomeViewModel
@{
    ViewData["Title"] = "Cart Checkout";
}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../Logo/BackgroundImg/coffeehouse.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout at L&L Coffee</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form asp-action="PlaceOrder" asp-controller="Home" id="frmCreateOrder" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            @if (Model.OrderType != "Reservation" && Model.OrderType != "Eat in")
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Name<span>*</span></b>
                                            <input asp-for="@Model.Payment.Name" class="form-control" type="text" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Phone<span>*</span></b>
                                            <input type="tel" asp-for="@Model.Cart.PhoneNumber" required/>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Name<span>*</span></b>
                                            <input asp-for="@Model.Payment.Name" value="@Model.Reser.CusName" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Phone<span>*</span></b>
                                            <input asp-for="@Model.Cart.PhoneNumber" value="@Model.Reser.PhoneNumber" class="form-control" type="tel" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="checkout__input">
                                <b>Checkout description</b>
                                <input value="Checkout at L&L coffee" disabled />
                            </div>
                            <div class="row">
                                @if (Model.OrderType != "Eat in")
                                {
                                <div class="col-lg-6">
                                    <b>Delivery Method</b>
                                    <div class="col-lg-6" style="padding-left:0px">
                                        <select id="getType" onchange="admSelectCheck();">
                                            <option selected>Choose delivery method</option>
                                            <option value="delivery">Delivery</option>
                                            <option value="carryout">Carry out</option>
                                        </select>
                                    </div>
                                </div>
                                }
                                @if (Model.OrderType != "Reservation")
                                {
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Email (Optional)</b>
                                            <input asp-for="@Model.Email.EmailTo" type="text" placeholder="Email to receive E-Invoice"/>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Email (Optional)</b>
                                            <input asp-for="@Model.Email.EmailTo" value="@Model.Reser.Email" type="text" placeholder="Enter email to receive E-Invoice" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div id="address" class="address checkout__input" style="display:none;">
                                <b>Address<span>*</span></b>
                                <input asp-for="@Model.Address" class="form-control" />
                            </div>
                            <div class="col-lg-6" style="padding-left:0px">
                                <div id="time" class="checkoutinput" style="display:none;">
                                    <b>Time to pick up<span>*</span></b>
                                    <input asp-for="@Model.PickTime" class="form-control" type="time" style="width:125px" />
                                </div>
                            </div>



                            @if (Model.OrderType == "Reservation")
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Time to pick up<span>*</span></b>
                                            <input value="@Model.Reser.Datetime" type="datetime" disabled />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <b>Number of Customer<span>*</span></b><br />
                                            <input value="@Model.Reser.People" type="text" style="width:125px" disabled />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul>
                                    @foreach (var item in Model.Cart.cartViewModels)
                                    {
                                        <li>@item.Name <span>@item.TotalProPrice VND</span></li>
                                    }
                                </ul>
                                <div class="checkout__order__total">
                                    Total
                                    <span class="text-danger">@Model.Cart.CartTotal VND</span>
                                </div>
                                <ul>
                                    <li>Discount <span>@Model.Cart.DicountAmount VND</span></li>
                                </ul>
                                <div class="checkout__order__products">
                                    MustPaid
                                    <span class="text-danger">@Model.Cart.MustPaid VND</span>
                                </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    @section Scripts{
        <script>
            function admSelectCheck() {
                type = document.getElementById("getType").value;
                if (type == "carryout") {
                    $.ajax({
                        url: "/Home/Type",
                        data: {
                            term: "Carry out"
                        },
                        success: function (data) {
                            console.log(data);
                        }
                    })
                    document.getElementById("time").style.display = "block";
                    document.getElementById("address").style.display = "none";
                }
                else if (type == "delivery") {
                    $.ajax({
                        url: "/Home/Type",
                        data: {
                            term: "Delivery"
                        },
                        success: function (data) {
                            console.log(data);
                        }
                    })
                    document.getElementById("address").style.display = "block";
                    document.getElementById("time").style.display = "none";
                } else {
                    document.getElementById("address").style.display = "none";
                    document.getElementById("time").style.display = "none";

                }
            }

        </script>
    }
</body>
@await Component.InvokeAsync("Notyf")



