@using TablesideOrdering.ViewModels;
@model HomeViewModel
@{
    ViewData["Title"] = "Reservation";
}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/Reservation.css" type="text/css">

</head>

<body>
    <div class="testbox">
        <form class="form-rev" asp-action="ReservationConfirm" asp-controller="home" method="post">
            <div class="banner">
                <h2>Table Reservation Form</h2>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>Name<span>*</span></b>
                        <input asp-for="@Model.Reservation.CusName" type="text" placeholder="Your Name" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>Phone<span>*</span></b>
                        <input asp-for="@Model.Reservation.PhoneNumber" type="text" placeholder="### ### ####" required />

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>Email</b>
                        <input asp-for="@Model.Reservation.Email" type="email" placeholder="Ex: L&LCoffee@gmail.com" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>Reservation Date<span>*</span></b>
                        <input asp-for="@Model.Reservation.Date" type="date" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>Reservation Time<span>*</span></b>
                        <input asp-for="@Model.Reservation.Time" type="time" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__input">
                        <b>How many people will you be with?<span>*</span></b>
                        <input asp-for="@Model.Reservation.People" type="text" placeholder="Ex: 1" required />
                    </div>
                </div>
            </div>
            <div class="checkout__input">
                <b>Additional Notes</b>
                <textarea asp-for="@Model.Reservation.Notes" rows="3" placeholder="Ex: Table near window"></textarea>
            </div>
            <div class="btn-block">
                <button class="button-rev" type="submit">Send</button>
            </div>
        </form>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
@await Component.InvokeAsync("Notyf")