@model TablesideOrdering.Areas.StoreOwner.ViewModels.HomeStoreOwnerViewModel
@{
    ViewData["Title"] = " StoreOwner Home Page";
    Layout = "~/Areas/StoreOwner/Views/Shared/_StoreOwnerLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <div class="container-fluid">
                <!--  Row 1 -->
                <div class="row">
                    <form asp-action="Index" class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                        <button type="submit" class="btn btn-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <div>
                            <select asp-for="Time" class="form-select">
                                <option value="Day">Day</option>
                                <option value="Month">Month</option>
                                <option value="Year">Year</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body" style="height:fit-content">
                                <div id="OrderStatistic" style="height:100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Monthly Earnings -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row alig n-items-start">
                                            <div class="col-12">
                                                    <div id="FoodStatistic" style="width:100%; height:140px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!-- Monthly Earnings -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row alig n-items-start">
                                            <div class="col-12">
                                                <div id="TopFood" style="width:100%; height:140px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>
</body>
</html>
@await Component.InvokeAsync("Notyf")
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
    window.onload = function () {
        var OrderStatistic = new CanvasJS.Chart("OrderStatistic", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "@ViewBag.Title1"
            },
            axisY: {
                title: "Revenues (VND)"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.OrderPrice)
                            }]
        });
        OrderStatistic.render();

        var FoodStatistic = new CanvasJS.Chart("FoodStatistic", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            animationEnabled: true,
            title: {
                text: "Favorite food category @ViewBag.Title2"
            },
            data: [{
                type: "pie",
                startAngle: 180,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} - {y}%",
                dataPoints: @Html.Raw(ViewBag.FoodList)
                            }]
        });
        FoodStatistic.render();

        var TopFood = new CanvasJS.Chart("TopFood", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Top 3 Food @ViewBag.Title2"
            },
            axisY: {
                title: "Revenues of Food",
                gridThickness: 0
            },
            data: [{
                type: "bar",
                indexLabel: "{y}",
                dataPoints: @Html.Raw(ViewBag.TopFood)
                        }]
        });
        TopFood.render();
    }
</script>